.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 10 0 20px 0;
  margin-top: -15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
